doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title sales agent
form(action='')
  label(for='') NAME
  input(type='text' name='' id='')
  br
  label(for='') TYPE
  input(type='text' name='' id='')
  br
  label(for='') PRICE
  input(type='text' name='' id='')
  br
  label(for='') TONNAGE
  input(type='text' name='' id='')
  input(type='submit' value='Submit')
