doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/public/css/styles.css')
  title Page 1
h2.title
  | WELCOME
  br
  |         DO YOU WANT TO ANSWER SOME RANDOM QUESTIONS
a.link(href='page2.pug') GO TO PAGE 2