doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/public/css/styles.css')
  title florian
h2.title
  | WELCOME
  br
  |         DO YOU WANT TO GIVE YOUR LIFE TO CHRIST
a.link(href='/') GO TO floziah