<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>floriah</title>
  </head>
  <body>
    <form action="" class="form" method="post">
      <div class="container">
        <h1 class="title">Answer some random questions</h1>
        <label for="rNum">A random number</label>
        <input type="number" name="rNum"/>
        <br />
        <p>prefer to do</p>
        <input type="checkbox" name="movies"/>
        <label for="movies">movies </label>
        <input type="checkbox" name="series"/>
        <label for="series">series </label>
        <input type="checkbox" name="music"/>
        <label for="music">music </label>
        <br />
        <p>Tea or coffee</p>
        <input type="radio" name="tea"/>
        <label for="tea">Tea</label>
        <input type="radio" name="coffee"/>
        <label for="coffee">Coffee</label>
        <br />
        <p>can speak more than one langage</p>
        <input type="radio" name="yes"/>
        <label for="yes">Yes</label>
        <input type="radio" name="no"/>
        <label for="no">No</label>
        <br/>
        <label for="answer">A baby squirell is called</label>
        <input type="text" name="answer"/>
        <br/>
        <br/>
        <input type="submit" value="SUBMIT" />
      </div>
    </form>
  </body>
</html>