doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(rel='stylesheet' href='/public/css/mine.css')
.form-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .form-container
          .form-icon
            i.fa.fa-user
          h3.title Login
          form#loginForm.form-horizontal
            .form-group
              label(for='email') Email
              input#email.form-control(type='email' placeholder='Email address' required='')
              span#email-error.error-message
            .form-group
              label(for='password') Password
              input#password.form-control(type='password' placeholder='Password' required='')
              span#password-error.error-message
            .form-check
              input#rememberMe.form-check-input(type='checkbox' name='remember' value='true')
              label.form-check-label(for='rememberMe') Remember me
            button#submitBtn.btn.btn-default(type='button') Login
            .para5
              p.small.mb-0
                | Don&apos;t have account? 
                a(href='./register.html' style='color: rgb(25, 96, 248);') Create an account
script(src='/public/js/validate.js')
