doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Happy Hoe Grocery - Registration
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/public/css/register.css')
.form-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .form-container
          .form-icon
            i.fa.fa-user
          h3.title Create Account
          form#registrationForm.form-horizontal
            .form-group
              label(for='firstName') First Name
              input#firstName.form-control(type='text' required='')
              span#firstName-error.error-message
            .form-group
              label(for='lastName') Last Name
              input#lastName.form-control(type='text' required='')
              span#lastName-error.error-message
            .form-group
              label(for='email') Email
              input#email.form-control(type='email' placeholder='Email address' required='')
              span#email-error.error-message
            .form-group
              label(for='password') Password
              input#password.form-control(type='password' placeholder='Password' required='')
              span#password-error.error-message
            .form-group
              label(for='confirmPassword') Confirm Password
              input#confirmPassword.form-control(type='password' placeholder='Confirm password' required='')
              span#confirmPassword-error.error-message
            .form-check
              input#rememberMe.form-check-input(type='checkbox' name='remember' value='true')
              label.form-check-label(for='rememberMe') Remember me
            button#submitBtn.btn.btn-default(type='button') Create Account
            .para5
              p.small.mb-0
                | Have an account? 
                a(href='./login.html') Login
script(src='/public/js/formValidation.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
